<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <script src="../../../dist/main.js"></script>
    </head>

    <body>

        <header>
            <div class="navigation">
                <span>Accueil</span> / <span class="nav-position">Why choose us</span>
            </div>
            <div class="header-picture" style="
	background-image: url('./src/client/img/ALL-LP-new-website-top.png')">
                <div class='text'>

                    <h1>Raja.fr se r&eacute;inveinte !</h1>
                    <h2>+ simple + pratique + rapide</h2>
                </div>
            </div>
        </header>

        <main>
            <section>
                <div class="img">
                    <img src="./src/client/img/FR-LP-new-website-01-demo.png" alt="" />
                </div>
                <div class="text">
                    <h3>Encore plus ergonomique et convivial notre nouveau site</h3>
                    <div>Your satisfaction is our priority and we want you to be 100% happy with every RAJA order. Which is why we :</div>
                    <ul>
                        <li>Stock the widest choice of packaging supplies and equipment in Europe</li>
                        <li>Constinuously improve and develop our products and services to better meet your needs</li>
                        <li>Provide expert advice on everything from packaging tape to machines</li>
                    </ul>
                </div>
            </section>

            <section>
                <div class="img">
                    <img src="./src/client/img/FR-LP-new-website-08-blog.png" alt="" />
                </div>
                <div class="text">
                    <h3>La navigation optimis&eacute;e sur tous les &eacute;crans</h3>
                    <div>
                    At RAJA, we work closely with suppliers to discover brand-new 
                    technologies to continually develop our product range. Along with our extensive packaging experience, we are able to provide the expertise and knowledge
                    on latest innovations to help customers develop their packing systems.
                    </div>
                    <div>
                        Working with customers has also enabled us to identify the right solution for businesses requirements for different sized entreprises.
                    </div>
                </div>

            </section>
            <section>
                <div class="img">
                    <img src="./src/client/img/FR-LP-new-website-04-upload-excel-files.png" alt="" />
                </div>
                <div class="text">
                    <h3>La recherche encore + efficace</h3>
                    <div>
                    RAJA are committed to reducing our impact on the environment by constantly reviewing processes and products, recycling and diverting waste 
                    from landfill, and using approved Europaen suppliers adhering to environmental legislation? Our objective is zero waste to landfill and since our
                    environmental management schemes were introduces in 2008 we have achieved this objective, waste types that cannot be recycled are processed for energy.
                    </div>
                    <div>
                    In 2019 we recycled 98% of all waste produced, 2% of this was converted to energy.
                    </div>
                </div>
            </section>
            
            <section>
                <div class="img">
                    <img src="https://usatodayhss.com/wp-content/uploads/sites/96/2019/03/1_v1_current.jpg?w=1024&h=576&crop=1" alt="" />
                </div>
                <div class="text">
                    <h3>La commande encore + facile et rapide</h3>
                    <div>RAJA have over 65 years of packaging products. The RAJA brand guarantees high quality products that have been rigorously tested combined with competitive pricing</div>
                    <div>Look out for the RAJA brand logo in your catalogue and here on our website</div>
                    <div>Right now, you can choose from over 150 RAJA branded products, and the collection is growing all the time, look out for the RAJA mark of confidence!</div>
                    <button class="button">Commander par reference</button>
                </div>
            </section>
            <section>
                <div class="img">
                    <img src="https://usatodayhss.com/wp-content/uploads/sites/96/2019/03/1_v1_current.jpg?w=1024&h=576&crop=1" alt="" />
                </div>
                <div class="text">
                    <h3>La demande de devis en ligne</h3>
                    <div>Your satisfaction is our priority and we want you to be 100% happy with every RAJA order. Which is why we :</div>
                    <ul>
                        <li>Stock the widest choice of packaging supplies and equipment in Europe</li>
                        <li>Constinuously improve and develop our products and services to better meet your needs</li>
                        <li>Provide expert advice on everything from packaging tape to machines</li>
                        <li>Offer competitive prices across a huge range of packaging, warehouse and office supplies</li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="img">
                    <img src="https://usatodayhss.com/wp-content/uploads/sites/96/2019/03/1_v1_current.jpg?w=1024&h=576&crop=1" alt="" />
                </div>
                <div class="text">
                    <h3>Le meilleur tarif visible aussi dans le panier</h3>
                    <div>
                    At RAJA, we work closely with suppliers to discover brand-new 
                    technologies to continually develop our product range. Along with our extensive packaging experience, we are able to provide the expertise and knowledge
                    on latest innovations to help customers develop their packing systems.
                    </div>
                    <div>
                        Working with customers has also enabled us to identify the right solution for businesses requirements for different sized entreprises.
                    </div>
                </div>
            </section>

            <section>
                <div class="img">
                    <img src="https://usatodayhss.com/wp-content/uploads/sites/96/2019/03/1_v1_current.jpg?w=1024&h=576&crop=1" alt="" />
                </div>
                <div class="text">
                    <h3>Des infos et des conseils encore + clairs</h3>
                    <div>
                    RAJA are committed to reducing our impact on the environment by constantly reviewing processes and products, recycling and diverting waste 
                    from landfill, and using approved Europaen suppliers adhering to environmental legislation? Our objective is zero waste to landfill and since our
                    environmental management schemes were introduces in 2008 we have achieved this objective, waste types that cannot be recycled are processed for energy.
                    </div>
                    <div>
                    In 2019 we recycled 98% of all waste produced, 2% of this was converted to energy.
                    </div>
                </div>
            </section>
            <section>
                <div class="img">
                    <img src="https://usatodayhss.com/wp-content/uploads/sites/96/2019/03/1_v1_current.jpg?w=1024&h=576&crop=1" alt="" />
                </div>
                <div class="text">
                    <h3>Des conseils d'experts sur le blog</h3>
                    <div>RAJA have over 65 years of packaging products. The RAJA brand guarantees high quality products that have been rigorously tested combined with competitive pricing</div>
                    <div>Look out for the RAJA brand logo in your catalogue and here on our website</div>
                    <div>Right now, you can choose from over 150 RAJA branded products, and the collection is growing all the time, look out for the RAJA mark of confidence!</div>
                    <button class="button">Visiter le blog</button>
                </div>
            </section>
            <section>
                <div class="img">
                    <img src="https://usatodayhss.com/wp-content/uploads/sites/96/2019/03/1_v1_current.jpg?w=1024&h=576&crop=1" alt="" />
                </div>
                <div class="text">
                    <h3>Des avis clients</h3>
                    <div>Your satisfaction is our priority and we want you to be 100% happy with every RAJA order. Which is why we :</div>
                    <ul>
                        <li>Stock the widest choice of packaging supplies and equipment in Europe</li>
                        <li>Constinuously improve and develop our products and services to better meet your needs</li>
                        <li>Provide expert advice on everything from packaging tape to machines</li>
                    </ul>
                </div>
            </section>

        </main>

        <footer>
            <div><img src="./src/client/img/avis.png" alt="" /></div>
            <div class="text">
                <h4>Votre avis nous est pr&eacute;cieux !</h4>
                <span>Impressions, remarques, suggestions : faites-nous part de vorte exp&eacute;rience sur notre nouveau site web.</span>
            </div>
            <div><button class="button">Donner mon avis </button></div>
        </footer>
    </body>
</html>
