header {
	padding: 0 100px;
	.navigation{
		color : #777777;
		width: 100%;
		padding: 15px 0;

		.nav-position{
			font-weight: bold;
		}
	}
	.header-picture{
		height:500px;
		padding: 0 100px;
		display: flex;
		background-size:contain;
		background-repeat: no-repeat;
		background-position:center;
		.text {
			margin: auto;
			font-size: 2em;
			flex:1;
			color:white;
			h1{
				margin-bottom: 0;
			}
			h2 {
				margin-top:0;
				font-weight: normal;
			}
		}
	}
}


